body {
    background-color: #e4f3ec;
    background-image: url("../office.jpg");
}

#nav_img {
    width: 40px;
}

.navbar {
    opacity: 0.8;
}

.container {
    margin-top: 50px;
    border-radius: 10px;
    padding-right: 0px;
    padding-left: 0px;
}

.indexContainer {
    margin-top: 50px;
    border-radius: 10px;
}

.customerContainer {
    margin-top: 50px;
    border-radius: 10px;
}

.card-body {
    margin-bottom: 80px;
}

.errMsg {
    margin-bottom: -20px;
}

footer {
    position: fixed;
    bottom: 0;
    height: 70px;
    width: 100%;
    opacity: 0.8;
}

