<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/headerResources :: header_resources"></head>


<body>
<!-- header -->
<nav th:insert="fragments/navbar :: nav_fragment"></nav>


<!-- main container -->
<div class="container">
    <div class="card">
        <div class="card-header card bg-info text-white">
            <h2> Customer Details </h2>
            <p>
                <a th:href="@{/customer}" class="btn btn-dark text-white"> Go back </a>
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div>
                <p><b>ID:</b> <span th:text="${customerDto.getCustomerId()}"></span></p>
                <p><b>Email:</b> <span th:text="${customerDto.getEmail()}"></span></p>
                <p><b>Active:</b> <span th:text="${customerDto.isActive()}"></span></p>
                <p><b> Details ID:</b> <span th:text="${customerDto.getCustomerDetailsDto().getDetailsId()}"></span></p>
                <p><b> Street:</b> <span th:text="${customerDto.getCustomerDetailsDto().getStreet()}"></span></p>
                <p><b> Zip Code: </b><span th:text="${customerDto.getCustomerDetailsDto().getZipCode()}"></span></p>
                <p><b>City: </b><span th:text="${customerDto.getCustomerDetailsDto().getCity()}"></span></p>
                <p><b>Home Phone:</b> <span th:text="${customerDto.getCustomerDetailsDto().getHomePhone()}"></span></p>
                <p><b>Mobile Phone:</b><span th:text="${customerDto.getCustomerDetailsDto().getCellphone()}"></span></p>
            </div>
        </div>
    </div>
</div>


<!-- footer -->
<footer th:insert="fragments/footer :: footer_fragment"></footer>

</body>
</html>