<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/headerResources :: header_resources"></head>


<body>

<!-- Main container -->
<div class="container">
    <br/>
    <div class="card">
        <div class="card-header card bg-danger text-white">
            <h2>INTERNAL ERROR</h2>
        </div>

        <div></div>

        <div class="card-body">
            <br/>
            <p class="alert alert-danger" th:if="${error != null}" th:text="${error}"></p>
            <br/>
        </div>


        <div class="card-footer card bg-danger">
            <p>
                <a th:href="@{/customer}" class="btn btn-dark text-white"> Go back </a>
            </p>
        </div>
    </div>
</div>

<!-- footer -->
<footer th:insert="fragments/footer :: footer_fragment"></footer>
</body>
</html>