<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/headerResources :: header_resources"></head>


<body>
<!-- header -->
<nav th:insert="fragments/navbar :: nav_fragment"></nav>


<!-- main container -->
<div class="container p-3 my-3 bg-dark text-white indexContainer">
    <div class="card">
        <div class="card-header text-dark text-center bg-info">
            <h1> Form binding practice </h1>
        </div>

        <div class="card-body text-center text-dark">
            <div class="row">
                <div class="col-sm-12">
                    <h4> OS Shop </h4>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6 col-sm-3 bg-secondary">
                    <h4> MVC for the Design pattern </h4>
                </div>
                <div class="col-xs-6 col-sm-3 bg-primary">
                    <h4> Bootstrap </h4>
                </div>
                <div class="col-xs-6 col-sm-3 bg-success">
                    <h4> Databases </h4>
                </div>
                <div class="col-xs-6 col-sm-3 bg-warning">
                    <h4> Spring Framework </h4>
                </div>
            </div>

            <div class="card-footer">

            </div>

        </div>
    </div>
</div>


<!-- footer -->
<footer th:insert="fragments/footer :: footer_fragment"></footer>

</body>
</html>