<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/headerResources :: header_resources"></head>


<body>
<!-- header -->
<nav th:insert="fragments/navbar :: nav_fragment"></nav>


<!-- main container -->
<div class="container p-3 my-3 bg-dark text-white indexContainer">
    <h1> Form binding practice </h1>

    <div class="row">
        <div class="col-sm-6">
            <h4> Spring BootFramework, Thymeleaf </h4>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-sm-3">
            <h4> MVC for the Design pattern </h4>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-sm-3">
            <h4> Bootstrap, databases etc.. </h4>
        </div>
    </div>
</div>


<!-- footer -->
<footer th:insert="fragments/footer :: footer_fragment"></footer>

</body>
</html>